@{
    ViewData["Title"] = "Log-In";
}

<div class="text-center">
    <h1 class="display-4">Log-in Homework-1</h1>
    <p>Welcome the Login Page of Patika.dev .Net Core Bootcamp's First Homework Page</a>.</p>
</div>
